/* share-tech-mono-regular - latin */

@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../Resourses/fonts/share-tech-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../Resourses/fonts/share-tech-mono-v13-latin-regular.eot   share-tech-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Resourses/fonts/share-tech-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../Resourses/fonts/share-tech-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../Resourses/fonts/share-tech-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Resourses/fonts/share-tech-mono-v13-latin-regular.svg#ShareTechMono') format('svg'); /* Legacy iOS */
}
body {
    background-color: black;
    margin: 0 auto;
    width: 100%;
}

h1, p, figcaption {
    font-family: 'Share Tech Mono', monospace;
    color: green;
    text-align: center;
}

header {
    color: green;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 240px;
    margin: auto;
    z-index: 100;
    background-color: black;
}
header h1 {
    text-align: center;
    font-size: 50px;
    margin: 0, auto;
    top: 50px;
}
ul {
    text-align: center;
    margin: 0, auto;
    width: 100%;
}
li {

    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
a {
    color: rgba(255, 255, 255, 0.788);
    text-decoration: none;
}

button {
    border-width: 5px;
    background-color: rgba(18, 215, 182, 0.61);
    border-color: rgba(8, 145, 122, 0.61);
    width: 200px;
    height: 50px;
    margin:0 25px;
    z-index: 100;

}

 .intro {
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    top: 240px;
    z-index: 0;
}
p {
     font-size: 20px;
 }
img {

    max-width: 500px;
    width: 100%;
    display: block;
    margin:0 auto;
    z-index: 0;

}
.intro figcaption {
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 250px;
    line-height: 1.5;
}

.footer p {
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 0px;
    left: 1em;
    z-index: 0;
} 
